[submodule "wqt_app"]
	path = wqt_app
	url = https://github.com/quanted/wqt_app.git
[submodule "templates_qed"]
	path = templates_qed
	url = https://github.com/quanted/templates_qed
[submodule "static_qed"]
	path = static_qed
	url = https://github.com/quanted/static_qed
[submodule "splash_app"]
	path = splash_app
	url = https://github.com/quanted/splash_app.git
